* {
  margin: 0;
  padding: 0;
}


header {
  text-align: center;
  background-color: #23bc23;
  
}

.quoteblock {
  font-family: "Quattrocento", serif;
 
  
 
}


main {
  background-color: #f4ecf2;
}

p {
  max-width: 70ch;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  
}

header h1 {
  font-size: 310%;
    font-family: 'Lato', sans-serif;
  color: #1c1b1d;
}

header a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #2d2c30;
}
header ul {
  display: flex;
  justify-content: space-around;
  padding: 1.5%;
  text-decoration: none;
  list-style: none;
}

header li :hover {
  text-decoration: underline;
}

.pictureBlock {
  display: flex;
  flex-direction: row;
  color: black;
  flex-wrap: wrap;
  margin-top: 22px;
}
.pictureBlock img {
  border: #2d2c30 2.5px solid;
  width: 25%;
}
.img-first {
  margin: auto;
}

.Art {
  margin-top: 20px;
  color: #2d2c30;
  margin-left: 10%;
  margin-right: 10%;
}

.Art h3{
margin-top: 15px;


}

.Art p{
  margin-bottom: 20px;
}

.content{
  border: 2.5px solid black;
  padding: 1%;
  display: flex;
  flex-direction:column;
  
  
}

.content ul li{
  margin-left: 20%;
  margin-bottom: 15%;
}

.quote {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-style: italic;
  padding-top: 2%;
  padding-left: 30%;
  padding-right: 30%;
  
  background-color: #2d2c30;
  color: #f4ecf2;
}

.by{
    font-family: "Oswald", sans-serif;
  text-align: center;
  font-style: italic;
  
  background-color: #2d2c30;
  color: #f4ecf2;
}

footer {
  background-color: #23bc23;
  margin-top: 200px;
  display: grid;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-top: black 2.5px solid;
}

.start {
  grid-column: 2;
  grid-row: 3;
  font-size: 40px;
}
.twitter {
  grid-column: 3;
  grid-row: 2;
  font-size: 27px;
  margin: auto;
}

.facebook {
  grid-column: 3;
  grid-row: 3;
  font-size: 27px;
  margin: auto;
}

.youtube {
  grid-column: 3;
  grid-row: 4;
  font-size: 27px;
  margin: auto;
}
@media (max-width: 600px){
  header{
    font-size: 10px;
  }
  .quote{
    font-size: 20px;
    padding: 5%;
  }
  p {
  
  line-height: 1.2;
  font-size: 15px;
  text-align: justify;
  
  }
.start {
  grid-column: 2;
  grid-row: 3;
  font-size: 16px;
  margin-right: 6px;
  margin-top: 8px;
}
.twitter {
  grid-column: 3;
  grid-row: 2;
  font-size: 17px;
  margin: auto;
  margin-left: 0px;
}

.facebook {
  grid-column: 3;
  grid-row: 3;
  font-size: 17px;
  margin: auto;
  margin-left: 0px;
}
.youtube {
  grid-column: 3;
  grid-row: 4;
  font-size: 17px;
  margin: auto;
  margin-left: 0px;
}

}
